html,
body {
    scroll-behavior: smooth;
    height: 2000px;
}

.nav-link {
    padding: 18px;
    margin-left: 20px;
}

.navbar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#info-panel .info-panel {
    margin-top: -80px;
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
